<div class="_sub_filter_container">
    <div class="_sub_cat">
        <div>
            <a href="#">Audi <span>(547)</span></a>
            <a href="#">BMW <span>(1031)</span></a>
            <a href="#">Audi <span>(547)</span></a>
        </div>
        <div>
            <a href="#">Audi <span>(547)</span></a>
            <a href="#">BMW <span>(1031)</span></a>
            <a href="#">Audi <span>(547)</span></a>
        </div>
        <div>
            <a href="#">Audi <span>(547)</span></a>
            <a href="#">BMW <span>(1031)</span></a>
            <a href="#">Audi <span>(547)</span></a>
        </div>
        <div>
            <a href="#">Audi <span>(547)</span></a>
            <a href="#">BMW <span>(1031)</span></a>
            <a href="#">Audi <span>(547)</span></a>
        </div>
    </div>
    <div class="_show_more">
        <button>Show more</button>
        <div class="_check_box_container">
            <div class="_custome_checkbox">
                <input class="styled-checkbox" id="photo" type="checkbox" value="value1">
                <label for="photo">Photo</label>
            </div>
            <div class="_custome_checkbox">
                <input class="styled-checkbox" id="price_only" type="checkbox" value="value1">
                <label for="price_only">Price Only</label>
            </div>
            <div class="_custome_checkbox">
                <input class="styled-checkbox" id="urgent_add" type="checkbox" value="value1">
                <label for="urgent_add">Urgent Add</label>
            </div>
            <div class="_custome_checkbox">
                <input class="styled-checkbox" id="bids" type="checkbox" value="value1">
                <label for="bids">Bids</label>
            </div>
            <div class="_custome_checkbox">
                <input class="styled-checkbox" id="offer" type="checkbox" value="value1">
                <label for="offer">Offers</label>
            </div>
        </div>
    </div>
</div>