@import "../../assets/scss_partials/var";
._list_view_style_box{
    display: grid;
    grid-template-columns: 250px calc(100% - 250px);
    padding: 1em;
    box-shadow: $shad;
    border-radius: 5px;
    margin-bottom: 1em;
    ._thumbnail{
        position: relative;
        .add_image_count{
            position: absolute;
            left: 1em;
            bottom: 1em;
            background-color: #000000ba;
            display: flex;
            align-items: center;
            flex-direction: row;
            padding: 5px 7px;
            border-radius: 3px;
            pointer-events: none;
            svg{
                width: 17px;
                fill: white;
                margin-right: 6px;
            }
            ._count{
                color: white;
                font-size: .85em;
                height: 13px;
            }
        }
        a{
            display: inline-block;
            position: relative;
            img{
                width: 250px;
                height: 170px;
                border-radius: 10px;
                object-fit: cover;
            }
        }
    }
    ._details{
        margin-left: 1em;
        a{
            text-decoration: none;
        }
        h2{
            color: $themeColor1;
            position: relative;
            transition: all .3s linear;
            &:hover{
                color: $themeColor2;
            }
            ._price{
                position: absolute;
                right: 0;
                top: 0;
                color: $themeColor5;
            }
        }
        p{
            color: $themeColor3;
            font-size: .9em;
            margin: 0.3em 0 1em 0;
            position: relative;
            span{
                svg{
                    width: 10px;
                    vertical-align: middle;
                    fill:$themeColor3;
                }
                &._abt_user{
                    position: absolute;
                    right: 0;
                    color: #68DB11;
                    ._user_status{
                        width: 32px;
                        border: 2px solid;
                        border-radius: 50%;
                        height: 32px;
                        border-color: #68DB11;
                        display: block;
                        margin: auto;
                        path{
                            transform: translate(0px, -5px);
                        }
                    }
                }
            }
        }
        ._detail_view{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            width: 350px;
            p{
                color: $themeColor1;
                font-weight: 700;
                span{
                    color: $themeColor3;
                    font-weight: 400;
                }
            }
        }
        ._footer{
            button{
                border: 1px solid;
                padding: 0.47em 1em;
                font-size: .78em;
                border-radius: 3px;
                width: 150px;
                color: $themeColor3;
                background-color: transparent;
                transition: all .3s linear;
                position: relative;
                margin: 0 5px;
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
                ._heart{
                    width: 15px;
                    position: absolute;
                    left: 8px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    fill:$themeColor5;
                }
                ._cell{
                    width: 15px;
                    position: absolute;
                    left: 45px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    fill: $themeColor2;
                    stroke: $themeColor2;
                }
                ._chat{
                    width: 20px;
                    position: absolute;
                    left: 34px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    fill:$themeColor2;
                    stroke: $themeColor2;
                }
                &:hover{
                    color: $themeColor1;
                    background-color: #1e253a0f;
                }
            }
        }
    }
}