<div class="_filter_side">
    <h2>Search</h2>
    <div class="_custome_select_box">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.879 10.764">
            <g id="down_arrow" transform="translate(-568.459 -1752.461)">
                <path id="Path_18" data-name="Path 18" d="M587.339,1753.967a2.835,2.835,0,0,1-.43.751q-4.018,4.058-8.072,8.081a1.278,1.278,0,0,1-1.977-.091q-3.4-3.392-6.791-6.789c-.339-.339-.679-.677-1.016-1.018-.715-.722-.786-1.443-.2-2.036s1.325-.532,2.036.178q3.219,3.212,6.432,6.43c.12.12.248.232.358.36.16.186.288.158.45-.008.482-.5.976-.979,1.464-1.467q2.693-2.692,5.384-5.385a1.335,1.335,0,0,1,1.446-.435A1.441,1.441,0,0,1,587.339,1753.967Z" transform="translate(0)"/>
            </g>
        </svg>
        <select>
            <option selected>Dubai</option>
            <option>Sharjah</option>
        </select>
    </div>
    <div class="_custome_select_box">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.879 10.764">
            <g id="down_arrow" transform="translate(-568.459 -1752.461)">
                <path id="Path_18" data-name="Path 18" d="M587.339,1753.967a2.835,2.835,0,0,1-.43.751q-4.018,4.058-8.072,8.081a1.278,1.278,0,0,1-1.977-.091q-3.4-3.392-6.791-6.789c-.339-.339-.679-.677-1.016-1.018-.715-.722-.786-1.443-.2-2.036s1.325-.532,2.036.178q3.219,3.212,6.432,6.43c.12.12.248.232.358.36.16.186.288.158.45-.008.482-.5.976-.979,1.464-1.467q2.693-2.692,5.384-5.385a1.335,1.335,0,0,1,1.446-.435A1.441,1.441,0,0,1,587.339,1753.967Z" transform="translate(0)"/>
            </g>
        </svg>
        <select>
            <option selected>Motors</option>
            <option>Motors</option>
        </select>
    </div>
    <div class="_custome_select_box">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.879 10.764">
            <g id="down_arrow" transform="translate(-568.459 -1752.461)">
                <path id="Path_18" data-name="Path 18" d="M587.339,1753.967a2.835,2.835,0,0,1-.43.751q-4.018,4.058-8.072,8.081a1.278,1.278,0,0,1-1.977-.091q-3.4-3.392-6.791-6.789c-.339-.339-.679-.677-1.016-1.018-.715-.722-.786-1.443-.2-2.036s1.325-.532,2.036.178q3.219,3.212,6.432,6.43c.12.12.248.232.358.36.16.186.288.158.45-.008.482-.5.976-.979,1.464-1.467q2.693-2.692,5.384-5.385a1.335,1.335,0,0,1,1.446-.435A1.441,1.441,0,0,1,587.339,1753.967Z" transform="translate(0)"/>
            </g>
        </svg>
        <select>
            <option selected>Used cars for sale</option>
            <option>used cars</option>
        </select>
    </div>
    <div class="_custome_select_box">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.879 10.764">
            <g id="down_arrow" transform="translate(-568.459 -1752.461)">
                <path id="Path_18" data-name="Path 18" d="M587.339,1753.967a2.835,2.835,0,0,1-.43.751q-4.018,4.058-8.072,8.081a1.278,1.278,0,0,1-1.977-.091q-3.4-3.392-6.791-6.789c-.339-.339-.679-.677-1.016-1.018-.715-.722-.786-1.443-.2-2.036s1.325-.532,2.036.178q3.219,3.212,6.432,6.43c.12.12.248.232.358.36.16.186.288.158.45-.008.482-.5.976-.979,1.464-1.467q2.693-2.692,5.384-5.385a1.335,1.335,0,0,1,1.446-.435A1.441,1.441,0,0,1,587.339,1753.967Z" transform="translate(0)"/>
            </g>
        </svg>
        <select>
            <option selected>All makes</option>
            <option>all makes</option>
        </select>
    </div>
    <h4>Price (AED)</h4>
    <div class="_price_min_max">
        <div class="_custome_input">
            <input type="text" placeholder="min"/>
        </div>
        <div class="_custome_input">
            <input type="text" placeholder="max"/>
        </div>
    </div>
    <h4>Year</h4>
    <div class="_price_min_max">
        <div class="_custome_input">
            <div class="_custome_select_box">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.879 10.764">
                    <g id="down_arrow" transform="translate(-568.459 -1752.461)">
                        <path id="Path_18" data-name="Path 18" d="M587.339,1753.967a2.835,2.835,0,0,1-.43.751q-4.018,4.058-8.072,8.081a1.278,1.278,0,0,1-1.977-.091q-3.4-3.392-6.791-6.789c-.339-.339-.679-.677-1.016-1.018-.715-.722-.786-1.443-.2-2.036s1.325-.532,2.036.178q3.219,3.212,6.432,6.43c.12.12.248.232.358.36.16.186.288.158.45-.008.482-.5.976-.979,1.464-1.467q2.693-2.692,5.384-5.385a1.335,1.335,0,0,1,1.446-.435A1.441,1.441,0,0,1,587.339,1753.967Z" transform="translate(0)"/>
                    </g>
                </svg>
                <select>
                    <option selected>Year from</option>
                    <option>1970</option>
                </select>
            </div>
        </div>
        <div class="_custome_input">
            <div class="_custome_select_box">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.879 10.764">
                    <g id="down_arrow" transform="translate(-568.459 -1752.461)">
                        <path id="Path_18" data-name="Path 18" d="M587.339,1753.967a2.835,2.835,0,0,1-.43.751q-4.018,4.058-8.072,8.081a1.278,1.278,0,0,1-1.977-.091q-3.4-3.392-6.791-6.789c-.339-.339-.679-.677-1.016-1.018-.715-.722-.786-1.443-.2-2.036s1.325-.532,2.036.178q3.219,3.212,6.432,6.43c.12.12.248.232.358.36.16.186.288.158.45-.008.482-.5.976-.979,1.464-1.467q2.693-2.692,5.384-5.385a1.335,1.335,0,0,1,1.446-.435A1.441,1.441,0,0,1,587.339,1753.967Z" transform="translate(0)"/>
                    </g>
                </svg>
                <select>
                    <option selected>Year to</option>
                    <option>2019</option>
                </select>
            </div>
        </div>
    </div>
    <h4>Kilometers</h4>
    <div class="_price_min_max">
        <div class="_custome_input">
            <input type="text" placeholder="Kilometer from"/>
        </div>
        <div class="_custome_input">
            <input type="text" placeholder="Kilometer to"/>
        </div>
    </div>
    <h4>Select type</h4>
    <div class="_custome_select_box">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.879 10.764">
            <g id="down_arrow" transform="translate(-568.459 -1752.461)">
                <path id="Path_18" data-name="Path 18" d="M587.339,1753.967a2.835,2.835,0,0,1-.43.751q-4.018,4.058-8.072,8.081a1.278,1.278,0,0,1-1.977-.091q-3.4-3.392-6.791-6.789c-.339-.339-.679-.677-1.016-1.018-.715-.722-.786-1.443-.2-2.036s1.325-.532,2.036.178q3.219,3.212,6.432,6.43c.12.12.248.232.358.36.16.186.288.158.45-.008.482-.5.976-.979,1.464-1.467q2.693-2.692,5.384-5.385a1.335,1.335,0,0,1,1.446-.435A1.441,1.441,0,0,1,587.339,1753.967Z" transform="translate(0)"/>
            </g>
        </svg>
        <select>
            <option selected>All Types</option>
            <option>all types</option>
        </select>
    </div>
    <h4>Badges</h4>
    <div class="_ch_container">
        <div class="_custome_checkbox">
            <input class="styled-checkbox" id="service_history" type="checkbox" value="value1">
            <label for="service_history">Full service history</label>
        </div>
        <div class="_custome_checkbox">
            <input class="styled-checkbox" id="negotiable" type="checkbox" value="value1">
            <label for="negotiable">Negotiable</label>
        </div>
        <div class="_custome_checkbox">
            <input class="styled-checkbox" id="under_warranty" type="checkbox" value="value1">
            <label for="under_warranty">Under warranty</label>
        </div>
        <div class="_custome_checkbox">
            <input class="styled-checkbox" id="urgent" type="checkbox" value="value1">
            <label for="urgent">Urgent</label>
        </div>
    </div>
    <h4>Car report</h4>
    <div class="_ch_container">
        <div class="_custome_checkbox">
            <input class="styled-checkbox" id="show_adds" type="checkbox" value="value1">
            <label for="show_adds">Show adds with car report only</label>
        </div>
    </div>
    <h4>Kewords</h4>
    <div class="_custome_input _keywords">
        <input type="text" />
    </div>
    <button class="_search_btn">
        Search
    </button>
</div>