$themeColor1:#1E253A;
// $themeColor2:#F5A31F;
$themeColor2:#2b65ea;
$themeColor3:#858585;
$themeColor3_1:#E8E8E8;
$themeColor4:#2B65EA;
$themeColor5:#D0021B;
$shad:0px 3px 7px 0px rgba(81,81,81,0.16);
$container_max_size:1170px;//on > 1200
$container_med_size:970px;//on >= 992
$container_small_size:750px;//on >= 768
$container_ext_small_size:auto;//on < 768
$font-family:'Montserrat', sans-serif;

